:root{
    --aside-width: 20%;
    --aside-max-width: 300px;
    --passive-color: rgb(92, 166, 196);
    --active-color: rgb(108, 194, 228);
}
*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: rgb(240, 246, 252);
}
html{
    background-color: rgb(7, 9, 12);
}
.menu{
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fstart{
    justify-content: flex-start;
}
.fend{
    justify-content: flex-end;
}
.selector{
    padding: 5px;
    border: rgb(224, 84, 84) 1px solid;
    margin: 5px;
}
.container{
    font-size: 14px;
    font-weight: bold;
    padding: 0em;
    flex-wrap: nowrap;
    height: 60px;
}
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.spaceBeetwen{
    justify-content: space-between;
}
.logo{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.logoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}
header{
    background: rgb(22, 27, 34);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 16px;
    z-index: 666;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
aside{
    position: fixed;
    top: 60px;
    left: 0;
    width: var(--aside-width);
    height: 100%;
    background-color: rgb(13, 17, 23);
    z-index: 666;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    border-right: 2px solid rgb(26, 31, 39);
}
@media all and (min-width: 1500px){
    aside{
        width: 100%;
        max-width: var(--aside-max-width);
    }
    main{
        left:  var(--aside-max-width) !important;
        width: calc(100% - var(--aside-max-width));
    }
}
main{
    position: absolute;
    top: 60px;
    left: var(--aside-width);
    width: 80%;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    height: min-content;
    text-align: center;
    margin: 0px;
}
#gameidbtn{
    background-color: var(--passive-color);
    height: 29px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative;
    top: -1px;
}
#gameidbtn:hover{
    background-color: var(--active-color);
    cursor: pointer;
}
#gameidbtn:active{
    background-color: var(--passive-color);
}
#gameid{ 
    background-color: rgb(13, 17, 23);
    border: 1px solid var(--passive-color);
    color: rgb(255, 255, 255);
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-bottom: 4px;
}
#gameid:focus{
    outline: none;
}
.textbtn{
    margin-right: 10px;
    margin-left: 10px;
}
.textbtn:hover{
    color: rgb(196, 196, 196);
    cursor: pointer;
}
.divbtn{
    background-color: var(--passive-color);
    border-radius: 6px;
    margin: 5px;
}
.divbtn h3{
    margin: 0px;
    padding: 7px;
    font-size: 12px;
}
.divbtn:hover{
    background-color: var(--active-color);
    cursor: pointer;
}
.divbtn:active{
    background-color: var(--passive-color);
}
.lcspace:last-child{
    margin-right: 10px;
}
.flxcntr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}