*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: rgb(240, 246, 252);
}
.menu{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.selector{
    padding: 5px;
    border: rgb(224, 84, 84) 1px solid;
    margin: 5px;
}
.container{
    font-size: 14px;
    font-weight: bold;
    padding: 0em;
    text-align: center;
    flex-wrap: nowrap;
    height: 60px;
}
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.logo{
    background-color: #ffffff;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}