:root{
    --aside-width: 20%;
    --aside-max-width: 300px;
    --passive-color: rgb(92, 166, 196);
    --active-color: rgb(108, 194, 228);
    --mobile-menu-speed: 0.5s;
}
*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: rgb(240, 246, 252);
}
html{
    background-color: rgb(1, 4, 9);
}
.menu{
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fstart{
    justify-content: flex-start;
}
.fend{
    justify-content: flex-end;
}
.selector{
    padding: 5px;
    border: rgb(224, 84, 84) 1px solid;
    margin: 5px;
}
.container{
    font-size: 14px;
    font-weight: bold;
    padding: 0em;
    flex-wrap: nowrap;
    height: 60px;
}
.flexRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.spaceBeetwen{
    justify-content: space-between;
}
.logo{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.logoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}
header{
    background: rgb(22, 27, 34);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 16px;
    z-index: 666;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
aside{
    position: fixed;
    top: 60px;
    left: 0;
    width: var(--aside-width);
    height: 100%;
    background-color: rgb(13, 17, 23);
    z-index: 666;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    border-right: 2px solid rgb(26, 31, 39);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
@media all and (min-width: 1500px){
    aside{
        width: 100%;
        max-width: var(--aside-max-width);
    }
    main{
        left:  calc(var(--aside-max-width) + 40px) !important;
        width: calc(100% - var(--aside-max-width) - 40);
    }
}
@media all and (max-width: 960px){
    .menu{
        display: none;
    }
    aside{
        display: none;
    }
    main{
        left: 0 !important;
        width: 100%;
    }
    .mobileMenu{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: center;
        align-self: center;
        width: 100%;
    }

}
.mobileMenu{
    display: none;
}
.mobileMenu .divbtn{
    background-color: rgba(22, 27, 34, 0);
    border: 2px solid rgba(58, 65, 77, 0);
}
.mobileMenu .divbtn:hover{
    background-color: rgba(22, 27, 34, 0);
    border: 2px solid rgba(58, 65, 77, 0);
}
.mobileMenu button{
    background: none;
    border: none;
}
.menu-div-pojda{
    width: 22px;
    height: 2px;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: var(--mobile-menu-speed);
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.menu-div-pojda-klikniete1{
    width: 22px;
    height: 2px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: var(--mobile-menu-speed);
    transform: rotate(45deg);
    transform-origin: left;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }
.menu-div-pojda-klikniete2{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 4px;
    margin-bottom: 4px;
    width: 14px;
    height: 2px;
    transition: var(--mobile-menu-speed);
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.menu-div-pojda-klikniete3{
    width: 22px;
    height: 2px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: var(--mobile-menu-speed);
    transform-origin: left;
    transform: rotate(-45deg);
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
main{
    position: absolute;
    top: 60px;
    left: calc(var(--aside-width) + 40px);
    width: calc(100% - var(--aside-width) - 40px);
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     padding-left: 20px;
    padding-right: 20px;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    height: min-content;
    text-align: center;
    margin: 0px;
}
label{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    height: min-content;
    text-align: center;
    margin: 0px;
}
select{
    background-color: rgb(13, 17, 23);
    border: 1px solid var(--passive-color);
    color: rgb(255, 255, 255);
    height: 25px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    padding-bottom: 2px;
}
canvas{
    margin: 20px;
}
#gameidbtn{
    background-color: var(--passive-color);
    height: 31px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative;
    top: -2px;
}
#gameidbtn:hover{
    background-color: var(--active-color);
    cursor: pointer;
}
#gameidbtn:active{
    background-color: var(--passive-color);
}
#gameid{ 
    background-color: rgb(13, 17, 23);
    border: 1px solid var(--passive-color);
    color: rgb(255, 255, 255);
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-bottom: 4px;
}
#gameid:focus{
    outline: none;
}
.textbtn{
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
}
.textbtn:hover{
    color: rgb(196, 196, 196);
    cursor: pointer;
}
.divbtn{
    background-color: var(--passive-color);
    border-radius: 6px;
    margin: 5px;
}
.divbtn h3{
    margin: 0px;
    padding: 7px;
    font-size: 12px;
}
.divbtn:hover{
    background-color: var(--active-color);
    cursor: pointer;
}
.divbtn:active{
    background-color: var(--passive-color);
}
.lcspace:last-child{
    margin-right: 10px;
}
.flxcntr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mrgleft{
    margin-left: 20px;
}
.center{
    text-align: center;
}