@media all and (min-width: 1500px){
    aside{
        width: 100%;
        max-width: var(--aside-max-width);
    }
    main{
        left:  calc(var(--aside-max-width) + 40px) !important;
        width: calc(100% - var(--aside-max-width) - 40);
    }

}
@media all and (max-width: 960px){
    .menu{
        display: none;
    }
    aside{
        display: none;
    }
    main{
        left: 0 !important;
        width: 100%;
    }
    .mobileMenu{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: center;
        align-self: center;
        width: 100%;
    }
    .mxnMenu{
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
    }
    .mxnMenu h3{
        border: 3px solid black;
        padding: 20px;
        border-radius: 20px;
    }
}
main{
    position: absolute;
    top: 60px;
    left: calc(var(--aside-width) + 40px);
    width: calc(100% - var(--aside-width) - 40px);
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
     padding-left: 20px;
    padding-right: 20px;
}
.mxnMenu{
    display: none;
}
